@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Teko:wght@600&display=swap');

:root{
    --orange:#ff7800;
    --black:#130f40;
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
    --skin-color:#ec1839;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}
body{
    margin: 0;
    padding: 0;
    background-color: #F5F3F4;
}
.main-container{
    align-items: center;
}
.header {
    padding: 10px;
    text-align: center;
    background: #F5BD3D;
    color: white;
    font-size: 15px;
    font-family: 'Teko', sans-serif;
}
.section{
    background-color: var(--bg-black-900);
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 2rem auto 0 auto;
    border: solid 1px;
    border-radius: 2rem;
}
.section img{
    height: 250px;
    width: 300px;
    border: 4px solid;
    position: relative;
    align-self:center;
}
.section h1{
    margin: 0;
    color: crimson;
    font-family: 'Bebas Neue', cursive;
}
.section span{
    font-weight: 600;
    color: #0510e1;
    font-size: 50px;
}
.section p{
    color:#F76134;
    /*font-family: 'Dancing Script', cursive;*/
    font-family: 'Lobster', cursive;
}
.footer {
    margin-bottom: 0;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(180, 180, 180);
    color: white;
    text-align: center;
}
.footer p{
    font-family: 'Dancing Script', cursive;
    margin: 0%;
    margin-right: 50px;
    text-align: right;
}


@media(max-width:991px)
{
    .section
    {
        display: block;
        max-width: 100%;
        align-items: center;
    }
    .section img
    {
        position: relative;
        align-items: center;
    }
}

@media (max-width:767px)
{
    .section
    {
        display: block;
        max-width: 100%;
        align-items: center;
    }
    .section img
    {
        position: relative;
        height: 170px;
        width: 250px;
        align-items: center;
    }
}
